WS_S2/App_WebReferences/ShotAndPrint/S2Process.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chanel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servicetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BPRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chanel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servicetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BPRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BPRegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BPCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servicetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BPCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BPCancelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="BPRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:BPRegister" />
  </wsdl:message>
  <wsdl:message name="BPRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:BPRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="BPCancelSoapIn">
    <wsdl:part name="parameters" element="tns:BPCancel" />
  </wsdl:message>
  <wsdl:message name="BPCancelSoapOut">
    <wsdl:part name="parameters" element="tns:BPCancelResponse" />
  </wsdl:message>
  <wsdl:portType name="S2ProcessSoap">
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BPRegister">
      <wsdl:input message="tns:BPRegisterSoapIn" />
      <wsdl:output message="tns:BPRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BPCancel">
      <wsdl:input message="tns:BPCancelSoapIn" />
      <wsdl:output message="tns:BPCancelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="S2ProcessSoap" type="tns:S2ProcessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BPRegister">
      <soap:operation soapAction="http://tempuri.org/BPRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BPCancel">
      <soap:operation soapAction="http://tempuri.org/BPCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="S2ProcessSoap12" type="tns:S2ProcessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BPRegister">
      <soap12:operation soapAction="http://tempuri.org/BPRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BPCancel">
      <soap12:operation soapAction="http://tempuri.org/BPCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S2Process">
    <wsdl:port name="S2ProcessSoap" binding="tns:S2ProcessSoap">
      <soap:address location="http://123.29.67.174:8001/S2Process.asmx" />
    </wsdl:port>
    <wsdl:port name="S2ProcessSoap12" binding="tns:S2ProcessSoap12">
      <soap12:address location="http://123.29.67.174:8001/S2Process.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>