WS_S2/App_WebReferences/vn/vmgame/Service_RegisS2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegisterS2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterS2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterS2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BigPromotionRegis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BigPromotionRegisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BigPromotionRegisResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BigPromotionDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BigPromotionDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BigPromotionDeleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterS2SoapIn">
    <wsdl:part name="parameters" element="tns:RegisterS2" />
  </wsdl:message>
  <wsdl:message name="RegisterS2SoapOut">
    <wsdl:part name="parameters" element="tns:RegisterS2Response" />
  </wsdl:message>
  <wsdl:message name="BigPromotionRegisSoapIn">
    <wsdl:part name="parameters" element="tns:BigPromotionRegis" />
  </wsdl:message>
  <wsdl:message name="BigPromotionRegisSoapOut">
    <wsdl:part name="parameters" element="tns:BigPromotionRegisResponse" />
  </wsdl:message>
  <wsdl:message name="BigPromotionDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:BigPromotionDelete" />
  </wsdl:message>
  <wsdl:message name="BigPromotionDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:BigPromotionDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_RegisS2Soap">
    <wsdl:operation name="RegisterS2">
      <wsdl:input message="tns:RegisterS2SoapIn" />
      <wsdl:output message="tns:RegisterS2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BigPromotionRegis">
      <wsdl:input message="tns:BigPromotionRegisSoapIn" />
      <wsdl:output message="tns:BigPromotionRegisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BigPromotionDelete">
      <wsdl:input message="tns:BigPromotionDeleteSoapIn" />
      <wsdl:output message="tns:BigPromotionDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_RegisS2Soap" type="tns:Service_RegisS2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterS2">
      <soap:operation soapAction="http://tempuri.org/RegisterS2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BigPromotionRegis">
      <soap:operation soapAction="http://tempuri.org/BigPromotionRegis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BigPromotionDelete">
      <soap:operation soapAction="http://tempuri.org/BigPromotionDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_RegisS2Soap12" type="tns:Service_RegisS2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterS2">
      <soap12:operation soapAction="http://tempuri.org/RegisterS2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BigPromotionRegis">
      <soap12:operation soapAction="http://tempuri.org/BigPromotionRegis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BigPromotionDelete">
      <soap12:operation soapAction="http://tempuri.org/BigPromotionDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_RegisS2">
    <wsdl:port name="Service_RegisS2Soap" binding="tns:Service_RegisS2Soap">
      <soap:address location="http://vmgame.vn/Service_RegisS2.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_RegisS2Soap12" binding="tns:Service_RegisS2Soap12">
      <soap12:address location="http://vmgame.vn/Service_RegisS2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>